.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
}

.containerServers {
  padding-bottom: 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  width: 60rem;
}

.servers {
  width: 100%;
}

.servers thead tr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #067df7;
}

.servers thead tr th {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.servers thead tr th:not(:last-child) {
  border-right: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.servers tbody tr{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  color: #fffffff3;
}

/* .servers tbody tr:nth-child(2n-1) {
  border-top: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-bottom: 1px solid rgba(var(--card-border-rgb), 0.15);
} */

.servers tbody tr:not(:last-child) {
  border-bottom: 1px solid rgba(var(--card-border-rgb), 0.15);
}

.servers tbody tr:first-child {
  padding-top: 1.2rem;
}

.servers tbody tr td {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin: 10px 0;
}

.serverName {
  justify-content: left !important;
  margin-left: 10px !important;
}

.serverName img {
  user-select: none;
  pointer-events: none;
}

.action {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  font-size: 22px; 
}

.action a {
  height: 23.49px;
}

.connect {
  transition: color 0.5s;
}

.connect:hover {
  color: #067df7;
}